# ---- ESP32 / Arduino ----
esp32code/*.hex
esp32code/*.elf
esp32code/*.bin
esp32code/*.out
esp32code/*.log

# ---- Flutter - driver_app ----
driver_app/.dart_tool/
driver_app/build/
driver_app/.pub-cache/
driver_app/.flutter-plugins
driver_app/.flutter-plugins-dependencies
driver_app/ios/Pods/
driver_app/ios/Runner.xcworkspace/
driver_app/android/.gradle/
driver_app/android/app/google-services.json
driver_app/ios/Runner/GoogleService-Info.plist

# ---- Flutter - stakeholder_dashboard ----
stakeholder_dashboard/.dart_tool/
stakeholder_dashboard/build/
stakeholder_dashboard/.pub-cache/
stakeholder_dashboard/.flutter-plugins
stakeholder_dashboard/.flutter-plugins-dependencies
stakeholder_dashboard/ios/Pods/
stakeholder_dashboard/ios/Runner.xcworkspace/
stakeholder_dashboard/android/.gradle/
stakeholder_dashboard/android/app/google-services.json
stakeholder_dashboard/ios/Runner/GoogleService-Info.plist

# ---- Common / IDE / OS ----
.DS_Store
.idea/
.vscode/
*.lock
*.log